@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&family=Roboto:wght@300&display=swap');
* {
    margin: 0%;
    padding: 0%;
}


/*.up:hover {
    box-shadow: 0 10px 2px rgb(72, 72, 73);
    transform: rotate3d(10px);
    transform: translateY(5px);
}
*/


/* Float Button*

.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
}

.floating-container:hover {
    height: 300px;
}

.floating-container:hover .floating-button {
    box-shadow: 0 10px 2px blue;
    transform: translateY(5px);
}



.floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: lightblue;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    box-shadow: 0 10px 25px 5px blue;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.float-element {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 15px 0;
    color: white;
    display: grid;
    place-items: center;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
}

.float-element:nth-child(1) {
    background: #9ef79e;
    box-shadow: 0 20px 20px -10px red;
}

.float-element:nth-child(2) {
    background: #9ef79e;
    box-shadow: 0 20px 20px -10px red;
}

.float-element:nth-child(3) {
    background: #9ef79e;
    box-shadow: 0 20px 20px -10px red;
}

@-webkit-keyframes come-in {
    0% {
        opacity: 0;
    }
    30% {
        transform: translateX(-50) scale(0.4);
    }
    40% {
        transform: translateX(0px);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.floating-container:hover .element-container .float-element:nth-child(1) {
    animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
    animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
    animation: come-in 0.4s forwards 0.6s;
}


/* Areas*/

body {
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2E302E;
}

header {
    padding-bottom: 0px;
    gap: 0px;
    margin: 0px;
    padding: 0px;
    font-size: large;
    display: grid;
    justify-content: left;
}

nav ul li {
    list-style-type: none;
}

footer {
    padding: 3em;
    background-color: #292929;
    margin-bottom: 0;
    margin-top: 1.5em;
}

.dropdown-item {
    color: #ffffff;
    cursor: pointer;
}

.dropdown-divider {
    background-color: #7ECD97;
}

.dropdown-menu.show {
    display: block;
    --bs-dropdown-link-active-bg: #7ECD97;
}

.dropdown-menu {
    background-color: #292929;
}

.menubur {
    padding-left: 18px;
    padding-right: 1px;
    max-width: 60px;
    margin: 0px;
    margin-top: 0px;
}

.brand {
    padding-left: 20px;
}

.logoimg {
    margin: 0px;
    padding-top: 0px;
}

.navbar {
    padding-top: 20px;
}


/*buttons*/

button {
    background-color: #ffffff;
    width: 250px;
    height: 38px;
    stroke: none;
    border-radius: 50px;
    border: none;
    transition: 0.5s;
}

.cta {}

.cta:hover {
    background-color: #ffe601;
}

.buttonme {
    background-color: #badff5;
    color: white;
    border: none;
    transition: 0.5s;
}

.buttonme:hover {
    background-color: #00a2ff;
}

.bt {
    padding: 50pz;
    color: #000000;
    font-weight: bolder;
}

.bth {
    background-color: rgb(0, 0, 0);
    width: 40px;
    border-radius: 1px;
    display: grid;
    grid-template-columns: 3000px;
    padding-right: 10px;
    padding-left: 15px;
}


/* FLoat button UP*/

.up-container {
    position: fixed;
    right: 0px;
    top: 70%;
    bottom: 24px;
    padding: 24px;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;
    color: rgb(255, 255, 255);
}

.up-container .up-btn {
    font-size: 48px;
    color: #5bb4e7;
    display: inline-block;
    transition: all 400ms;
}

.up-container span {
    position: absolute;
    top: 0;
    left: 4px;
    font-weight: bold;
    color: #0a5d8d;
    transform: rotateZ(20deg) translateX(30px);
    opacity: 0;
    transition: all 400ms;
}

.up-container .up-btn:hover+span {
    transform: rotateZ(0deg) translateX(28px);
    opacity: 1;
}


/* FLoat button Whatsaap*/

.whatsapp-btn-container {
    position: fixed;
    right: 0px;
    top: 80%;
    bottom: 24px;
    padding: 24px;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;
}

@keyframes fade-up {
    100% {
        bottom: 24px;
        opacity: 1;
    }
}

.whatsapp-btn-container .whatsapp-btn {
    font-size: 48px;
    color: #25d366;
    display: inline-block;
    transition: all 400ms;
}

.whatsapp-btn-container .whatsapp-btn:hover {
    transform: scale(1.2);
}

.whatsapp-btn-container span {
    position: absolute;
    top: 0;
    left: 4px;
    font-weight: bold;
    color: #075e54;
    transform: rotateZ(20deg) translateX(10px);
    opacity: 0;
    transition: all 400ms;
}

.whatsapp-btn-container .whatsapp-btn:hover+span {
    transform: rotateZ(0deg) translateX(0px);
    opacity: 1;
}


/* Buttons cards */

.cards-btn-container {
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.cards-btn-b {
    background-color: #badff5;
    font-size: 150px;
    height: 50px;
    padding-left: 2px;
}

.cards-btn-container .cards-btn-b:hover {
    background-color: #00a2ff;
}

.cards-btn {
    font-size: 30px;
    padding-right: 0px;
    padding-top: 0px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-left: 15%;
    padding-bottom: 0%;
    margin-bottom: 0px;
    gap: 30px;
}


/* Fonts/ text */

header,
h2 {
    color: rgb(255, 255, 255);
}

h1 {
    font-style: normal;
    font-weight: bolder;
    color: #7ECD97;
}

h3 {
    color: #7ECD97;
}

.primerParrafo {
    font-size: medium;
    font-style: normal;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

h4 {
    font-size: larger;
    text-align: center;
    color: white;
    display: grid;
}

p {
    padding-left: 10px;
}

.pt {
    color: #000000;
    font-size: larger;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 15%;
    padding-bottom: 0px;
}

.cards {
    background: #ffffff;
}

.read {
    color: rgb(55, 70, 207);
    text-decoration-color: blue;
    text-decoration-line: underline;
}

.texth2 {
    color: #5bb4e7;
}

.more {
    padding-top: 30px;
    background-color: #F5E345;
    padding-bottom: 20px;
}

section {
    padding-bottom: ;
}

p {
    color: #292929;
    font-weight: lighter;
    font-size: x-large;
}

.cardsh3 {
    margin: 0px;
    color: #292929;
    background-color: white;
}

.practices-h2 {
    color: #292929;
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.practices-h3 {
    color: #2E302E;
    font-size: x-large;
    font-style: normal;
    font-weight: lighter;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}


/* Areas de grilla */

header {
    grid-area: header;
}

.menuNav {
    grid-area: menuNav;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

section {
    grid-area: section;
}

.hero {
    grid-area: hero;
}

.parr {
    grid-area: parr;
}

.cta {
    grid-area: cta;
}

.flexContainer {
    grid-area: flexContainer;
}

.news {
    grid-area: news;
}

.news2 {
    grid-area: news2;
}

div more {
    grid-area: more;
}

.buttonme {
    grid-area: buttonme;
}

footer {
    grid-area: footer;
}


/* Areas order*/

header {
    padding-bottom: 30px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0.5em;
    margin-inline: #2E302E;
    display: grid;
    gap: 0px;
    grid-template-areas: "header" "menuNav" "nav" "aside" "main" "section" ".hero" "images";
}

.menuNav,
ul {
    font-size: smaller;
    background-color: rgb(0, 0, 0);
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
    justify-content: center;
    margin: 0px;
}

a {
    color: #7ECD97;
    text-decoration: none;
    margin: 0px;
}

img {
    max-width: 200px;
    border: none;
    margin-top: 15px;
    border-radius: 50px;
}

.logo {
    border: none;
    max-width: 200px;
    margin: 0px;
}

.monitor {
    border: none
}

.hero {
    margin: 0px;
    padding-top: 0px;
    background-color: #2E302E;
    padding-bottom: 30px;
}

.flexContainer {
    border-width: 00px;
    background-color: #ffffff;
    border-style: dashed;
    border-radius: 50px;
    border-bottom-color: #F5E345;
    border-inline-start-color: #9ef79e;
    border-inline-color: #9ef79e #9ef79e;
    border-width: 20px;
    padding-bottom: 50px;
}

.news {}

.Ig {
    max-width: 40px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    display: flex;
    -ms-flex-align: baseline;
}

div .foot {
    display: flex;
    background-color: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.igText {
    color: white;
}

.section-serv {
    background-color: #none;
}

.cards-service {
    background-color: none;
    grid-template-rows: max-content 200px 1fr;
    color: black;
}

.cards-ux {
    color: rgb(255, 255, 255);
    border-style: ridge;
    border-radius: 50px;
    border-bottom-color: #9ef79e;
    border-top-color: #9ef79e;
    border-inline-start-color: #9ef79e;
    border-inline-color: #9ef79e #9ef79e;
    border-width: 2px;
    padding-bottom: 50px;
    margin-bottom: 80px;
    margin-top: 20px;
    box-shadow: 0 2px 5px 2px rgb(77, 77, 77);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.cards-ux:hover {
    box-shadow: 0 10px 50px 10px rgb(77, 77, 77);
    padding-top: 0px;
    max-width: 100%;
}

{
    animation: backwards;
}

.cardh2 {
    padding-top: 18px;
    color: #292929;
}

.serv {
    background-color: white;
}

ul,
li {
    text-decoration: none;
}

.ul-cards {
    display: grid;
    justify-content: center;
    justify-items: start;
    background-color: white;
    padding-left: 80px;
}

.ul-cards li {
    text-decoration: none;
}

.best-1 {
    background-color: white;
}

.tittle-02 {
    color: #292929;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 40px;
}

.books {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.book-tittle {
    color: #00a2ff;
}

.book-tittle:hover {
    text-decoration: underline;
    color: #006ead;
}

.book-1 {
    padding-top: 40px;
}

.book-h3 {
    text-align: center;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    color: #2E302E;
    font-size: medium;
    font-weight: normal;
}

.resources-h3 {
    padding-bottom: 50px;
}

.cards-books {
    border: #000000;
    border-radius: 05px;
    border: 2px;
    border-width: 2px;
    border-style: outset;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    display: grid;
    gap: 0px;
    cursor: pointer;
}

.cards-books:hover {
    box-shadow: 0px 10px 40px 5px rgb(150, 150, 150);
}


/* MEDIA*/

@media(min-width:500px) {
    .menuPadre {
        margin: 0px;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "logo logo" "manuNav menuNav";
    }
    .hero {
        margin: 0px;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "monitor monitor" " "primerParrafo cta";

    }
    nav ul {
        display: flex;
        justify-content: space-between;
        gap: 14px;
    }
    footer {
        margin-top: 0px;
    }
}

@media(min-width:768px) {
    .menuPadre {
        background-color: black;
        margin: 0px;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "header header header" "logo logo logo ";
    }
    .logo {
        max-width: 200px;
        padding-right: 1000px;
        border: none;
    }
    .menuNav {
        padding-bottom: 30px;
        font-size: x-large;
        background-color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
        justify-items: end;
    }
}