* {
    margin: 0%;
    padding: 0%;
}

body {
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $background-color_1;
}

header {
    padding-bottom: 0px;
    gap: 0px;
    margin: 0px;
    padding: 0px;
    font-size: large;
    display: grid;
    justify-content: left;
    color: $color_4;
    grid-area: header;
    padding-bottom: 30px;
    background-color: $background-color_8;
    margin-bottom: 0.5em;
    margin-inline: #2E302E;
    display: grid;
    gap: 0px;
    grid-template-areas: "header" "menuNav" "nav" "aside" "main" "section" ".hero" "images";
}

nav {
    ul {
        li {
            list-style-type: none;
        }
    }
    grid-area: nav;
}